{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime"],
  "env": {
    "test": {
      "plugins": [
        [ "@babel/plugin-transform-react-jsx", {
          "pragma": "createMockableElement",
          "pragmaFrag": "React.Fragment"
        }] ]
    }
  }
}
